# Output folders that some toolchains like to use
build

# QTCreator user project file
/CMakeLists.txt.user*

proj_files/.vs/PsyDoom/FileContentIndex/c6270f16-6a88-4390-983b-0d2f1b63684b.vsidx
*.lock
proj_files/.vs/PsyDoom/v17/.suo
*.db
*.db-shm
*.db-wal
proj_files/.vs/PsyDoom/FileContentIndex/e8f74eb1-ea8c-4d34-85f6-8e8bece61448.vsidx
proj_files/.vs/PsyDoom/v17/Browse.VC.opendb
proj_files/.vs/PsyDoom/v17/ipch/AutoPCH/e2e5273ce359d37a/LAUNCHER.ipch
proj_files/ALL_BUILD.vcxproj
proj_files/ALL_BUILD.vcxproj.filters
proj_files/baselib/BaseLib.dir/Debug/BaseLib.Build.CppClean.log
proj_files/baselib/BaseLib.dir/Debug/BaseLib.lib.recipe
proj_files/baselib/BaseLib.dir/Debug/BaseLib.log
proj_files/baselib/BaseLib.dir/Debug/BaseLib.vcxproj.FileListAbsolute.txt
proj_files/baselib/BaseLib.dir/Debug/vcpkg.applocal.log
proj_files/baselib/BaseLib.vcxproj
proj_files/baselib/BaseLib.vcxproj.filters
proj_files/baselib/cmake_install.cmake
proj_files/baselib/CMakeFiles/generate.stamp.depend
proj_files/cmake_install.cmake
proj_files/CMakeCache.txt
proj_files/CMakeFiles/3.24.0-rc1/CMakeCCompiler.cmake
proj_files/CMakeFiles/3.24.0-rc1/CMakeCXXCompiler.cmake
proj_files/CMakeFiles/3.24.0-rc1/CMakeDetermineCompilerABI_C.bin
proj_files/CMakeFiles/3.24.0-rc1/CMakeDetermineCompilerABI_CXX.bin
proj_files/CMakeFiles/3.24.0-rc1/CMakeRCCompiler.cmake
proj_files/CMakeFiles/3.24.0-rc1/CMakeSystem.cmake
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/CMakeCCompilerId.c
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/CompilerIdC.exe
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/CompilerIdC.vcxproj
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdC/Debug/vcpkg.applocal.log
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
proj_files/CMakeFiles/3.24.0-rc1/CompilerIdCXX/Debug/vcpkg.applocal.log
proj_files/CMakeFiles/3.24.0-rc1/VCTargetsPath.txt
proj_files/CMakeFiles/3.24.0-rc1/VCTargetsPath.vcxproj
proj_files/CMakeFiles/3.24.0-rc1/x64/Debug/VCTargetsPath.recipe
proj_files/CMakeFiles/3.24.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
proj_files/CMakeFiles/a3a7d67dae034aebd33dae993621d55b/generate.stamp.rule
proj_files/CMakeFiles/cmake.check_cache
proj_files/CMakeFiles/CMakeOutput.log
proj_files/CMakeFiles/generate.stamp
proj_files/CMakeFiles/generate.stamp.depend
proj_files/CMakeFiles/generate.stamp.list
proj_files/CMakeFiles/TargetDirectories.txt
proj_files/game/cmake_install.cmake
proj_files/game/CMakeFiles/generate.stamp.depend
proj_files/game/PsyDoom.dir/Debug/PsyDoom.Build.CppClean.log
proj_files/game/PsyDoom.dir/Debug/PsyDoom.exe.recipe
proj_files/game/PsyDoom.dir/Debug/PsyDoom.log
proj_files/game/PsyDoom.dir/Debug/PsyDoom.vcxproj.FileListAbsolute.txt
proj_files/game/PsyDoom.dir/Debug/vcpkg.applocal.log
proj_files/game/PsyDoom.vcxproj
proj_files/game/PsyDoom.vcxproj.filters
proj_files/game/PsyDoom.vcxproj.user
proj_files/game/version.generated.rc
proj_files/PsyDoom.sln
proj_files/simple_gpu/cmake_install.cmake
proj_files/simple_gpu/CMakeFiles/generate.stamp.depend
proj_files/simple_gpu/SimpleGpu.dir/Debug/SimpleGpu.Build.CppClean.log
proj_files/simple_gpu/SimpleGpu.dir/Debug/SimpleGpu.lib.recipe
proj_files/simple_gpu/SimpleGpu.dir/Debug/SimpleGpu.log
proj_files/simple_gpu/SimpleGpu.dir/Debug/SimpleGpu.vcxproj.FileListAbsolute.txt
proj_files/simple_gpu/SimpleGpu.dir/Debug/vcpkg.applocal.log
proj_files/simple_gpu/SimpleGpu.vcxproj
proj_files/simple_gpu/SimpleGpu.vcxproj.filters
proj_files/simple_spu/cmake_install.cmake
proj_files/simple_spu/CMakeFiles/generate.stamp.depend
proj_files/simple_spu/SimpleSpu.dir/Debug/SimpleSpu.Build.CppClean.log
proj_files/simple_spu/SimpleSpu.dir/Debug/SimpleSpu.lib.recipe
proj_files/simple_spu/SimpleSpu.dir/Debug/SimpleSpu.log
proj_files/simple_spu/SimpleSpu.dir/Debug/SimpleSpu.vcxproj.FileListAbsolute.txt
proj_files/simple_spu/SimpleSpu.dir/Debug/vcpkg.applocal.log
proj_files/simple_spu/SimpleSpu.vcxproj
proj_files/simple_spu/SimpleSpu.vcxproj.filters
proj_files/third_party_libs/asio/Asio.dir/Debug/Asio.Build.CppClean.log
proj_files/third_party_libs/asio/Asio.dir/Debug/Asio.lib.recipe
proj_files/third_party_libs/asio/Asio.dir/Debug/Asio.log
proj_files/third_party_libs/asio/Asio.dir/Debug/Asio.vcxproj.FileListAbsolute.txt
proj_files/third_party_libs/asio/Asio.dir/Debug/vcpkg.applocal.log
proj_files/third_party_libs/asio/Asio.vcxproj
proj_files/third_party_libs/asio/Asio.vcxproj.filters
proj_files/third_party_libs/asio/cmake_install.cmake
proj_files/third_party_libs/asio/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/fltk/cmake_install.cmake
proj_files/third_party_libs/fltk/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/fltk/FLTK.dir/Debug/FLTK.Build.CppClean.log
proj_files/third_party_libs/fltk/FLTK.dir/Debug/FLTK.lib.recipe
proj_files/third_party_libs/fltk/FLTK.dir/Debug/FLTK.log
proj_files/third_party_libs/fltk/FLTK.dir/Debug/FLTK.vcxproj.FileListAbsolute.txt
proj_files/third_party_libs/fltk/FLTK.dir/Debug/vcpkg.applocal.log
proj_files/third_party_libs/fltk/FLTK.vcxproj
proj_files/third_party_libs/fltk/FLTK.vcxproj.filters
proj_files/third_party_libs/hash-library/cmake_install.cmake
proj_files/third_party_libs/hash-library/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/hash-library/Hash-Library.dir/Debug/Hash-Library.Build.CppClean.log
proj_files/third_party_libs/hash-library/Hash-Library.dir/Debug/Hash-Library.lib.recipe
proj_files/third_party_libs/hash-library/Hash-Library.dir/Debug/Hash-Library.log
proj_files/third_party_libs/hash-library/Hash-Library.dir/Debug/Hash-Library.vcxproj.FileListAbsolute.txt
proj_files/third_party_libs/hash-library/Hash-Library.dir/Debug/vcpkg.applocal.log
proj_files/third_party_libs/hash-library/Hash-Library.vcxproj
proj_files/third_party_libs/hash-library/Hash-Library.vcxproj.filters
proj_files/third_party_libs/libsdl/cmake_install.cmake
proj_files/third_party_libs/libsdl/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/libsdl/SDL.dir/Debug/SDL.Build.CppClean.log
proj_files/third_party_libs/libsdl/SDL.dir/Debug/SDL.lib.recipe
proj_files/third_party_libs/libsdl/SDL.dir/Debug/SDL.log
proj_files/third_party_libs/libsdl/SDL.dir/Debug/SDL.vcxproj.FileListAbsolute.txt
proj_files/third_party_libs/libsdl/SDL.dir/Debug/vcpkg.applocal.log
proj_files/third_party_libs/libsdl/SDL.vcxproj
proj_files/third_party_libs/libsdl/SDL.vcxproj.filters
proj_files/third_party_libs/lua/cmake_install.cmake
proj_files/third_party_libs/lua/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/lua/Lua.dir/Debug/Lua.Build.CppClean.log
proj_files/third_party_libs/lua/Lua.dir/Debug/Lua.lib.recipe
proj_files/third_party_libs/lua/Lua.dir/Debug/Lua.log
proj_files/third_party_libs/lua/Lua.dir/Debug/Lua.vcxproj.FileListAbsolute.txt
proj_files/third_party_libs/lua/Lua.dir/Debug/vcpkg.applocal.log
proj_files/third_party_libs/lua/Lua.vcxproj
proj_files/third_party_libs/lua/Lua.vcxproj.filters
proj_files/third_party_libs/rapidjson/cmake_install.cmake
proj_files/third_party_libs/rapidjson/CMakeFiles/generate.stamp
proj_files/third_party_libs/rapidjson/CMakeFiles/generate.stamp.depend
proj_files/third_party_libs/sol2/cmake_install.cmake
proj_files/third_party_libs/sol2/CMakeFiles/generate.stamp
proj_files/third_party_libs/sol2/CMakeFiles/generate.stamp.depend
proj_files/vulkan_gl/cmake_install.cmake
proj_files/vulkan_gl/CMakeFiles/generate.stamp.depend
proj_files/vulkan_gl/VulkanGL.dir/Debug/vcpkg.applocal.log
proj_files/vulkan_gl/VulkanGL.dir/Debug/VulkanGL.Build.CppClean.log
proj_files/vulkan_gl/VulkanGL.dir/Debug/VulkanGL.lib.recipe
proj_files/vulkan_gl/VulkanGL.dir/Debug/VulkanGL.log
proj_files/vulkan_gl/VulkanGL.dir/Debug/VulkanGL.vcxproj.FileListAbsolute.txt
proj_files/vulkan_gl/VulkanGL.vcxproj
proj_files/vulkan_gl/VulkanGL.vcxproj.filters
proj_files/ZERO_CHECK.proj
proj_files/ZERO_CHECK.proj.filters
